@media (min-width: 768px) {
    .card-container {
        flex-direction: row;
    }

    .price-box.professional {
        transform: scale(1.15);
    }

    body {
        overflow-x: hidden;
    }

    body::before {
        content: "";
        background-image: url("./images/bg-top.svg");
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    body::after {
        content: "";
        background-image: url("./images/bg-bottom.svg");
        background-repeat: no-repeat;
        background-position: bottom left;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}